<nav>
	<a href="index.php">Home</a>
	<a href="registration.php">Registration</a>
	<a href="report.php">Report</a>
	<a href="schedule.php">Schedule</a>
	<a href="players.php">Players</a>
	<a href="standings.php">Standings</a>
	<a href="jointeamleague.php">Join Team League</a>
	<a href="join.php">Join StarLeague</a>
	<a href="matchpreview.php">Match Preview</a>
	<a href="regsuccess.php">Registration Success</a>
	<a href="joinstarleague.php">Join Starleague</a>
	-------
	<a href="addnews.php">Add News</a>
	<a href="addrules.php">Add Rules</a>
</nav>